@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

*
{
    box-sizing: border-box;
}

body
{
    background-image: url("/img/christmas.jpg");
    font-family: "Dancing Script";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode:blur(3px);
    background-size: auto;
}

.text-cont
{
    align-items: center;
    color: azure;
    display:flex;
    flex-direction: column;
    font-size: 2rem;
    margin-top:10%;
    justify-content: center;
    min-height: 10%;
}

.countdown-container, span{
    display: flex;
    line-height: 1;
    margin: 0 1rem;
    text-align: center;
}

